{{define "queryCodeStd"}}
{{range .GoQueries}}
{{if $.OutputQuery .SourceName}}
{{if and (ne .Cmd ":copyfrom") (ne (hasPrefix .Cmd ":batch") true)}}
const {{.ConstantName}} = {{$.Q}}-- name: {{.MethodName}} {{.Cmd}}
{{escape .SQL}}
{{$.Q}}
{{end}}

{{if ne (hasPrefix .Cmd ":batch") true}}
{{if .Arg.EmitStruct}}
type {{.Arg.Type}} struct { {{- range .Arg.UniqueFields}}
  {{.Name}} {{.Type}} {{if .Tag}}{{$.Q}}{{.Tag}}{{$.Q}}{{end}}
  {{- end}}
}
{{end}}

{{if .Ret.EmitStruct}}
type {{.Ret.Type}} struct { {{- range .Ret.Struct.Fields}}
  {{.Name}} {{.Type}} {{if .Tag}}{{$.Q}}{{.Tag}}{{$.Q}}{{end}}
  {{- end}}
}
{{end}}
{{end}}

{{if eq .Cmd ":one"}}
{{range .Comments}}//{{.}}
{{end -}}
type {{.MethodName}}Query struct {
	ex     {{$.PackageQualifier}}QueryExecutor
	{{- if .Arg.EmitStruct}}
	arg    {{.Arg.Type}}
	{{- else if .Arg.Pair}}
	{{.Arg.Pair}}
	{{- end}}
	result {{.Ret.Type}}
}

func (q *{{.MethodName}}Query) SQL() string {
	return {{.ConstantName}}
}

func (q *{{.MethodName}}Query) Args() []any {
	{{- if .Arg.Pair}}
	{{- if .Arg.EmitStruct}}
	{{- $argName := .Arg.Name}}
	return []any{ {{range $i, $f := .Arg.UniqueFields}}{{if $i}}, {{end}}q.{{$argName}}.{{$f.Name}}{{end}} }
	{{- else}}
	return []any{q.{{.Arg.Name}}}
	{{- end}}
	{{- else}}
	return nil
	{{- end}}
}

func (q *{{.MethodName}}Query) Scan(row *sql.Row) error {
	return row.Scan({{range $i, $f := .Ret.Struct.Fields}}{{if $i}}, {{end}}&q.result.{{$f.Name}}{{end}})
}

func (q *{{.MethodName}}Query) Result() {{.Ret.DefineType}} {
	{{- if .Ret.IsPointer}}
	return &q.result
	{{- else}}
	return q.result
	{{- end}}
}

{{- if .Arg.Pair}}
func (q *{{.MethodName}}Query) Eval(ctx context.Context, {{.Arg.Pair}}) ({{.Ret.DefineType}}, error) {
	{{- if .Arg.EmitStruct}}
	q.arg = {{.Arg.Name}}
	{{- else}}
	q.{{.Arg.Name}} = {{.Arg.Name}}
	{{- end}}
	if err := q.ex.Execute(ctx, q); err != nil {
		{{- if .Ret.IsPointer}}
		return nil, err
		{{- else}}
		var zero {{.Ret.DefineType}}
		return zero, err
		{{- end}}
	}
	return q.Result(), nil
}
{{- else}}
func (q *{{.MethodName}}Query) Eval(ctx context.Context) ({{.Ret.DefineType}}, error) {
	if err := q.ex.Execute(ctx, q); err != nil {
		{{- if .Ret.IsPointer}}
		return nil, err
		{{- else}}
		var zero {{.Ret.DefineType}}
		return zero, err
		{{- end}}
	}
	return q.Result(), nil
}
{{- end}}

func New{{.MethodName}}Query(ex {{$.PackageQualifier}}QueryExecutor) *{{.MethodName}}Query {
	return &{{.MethodName}}Query{ex: ex}
}
{{end}}

{{if eq .Cmd ":many"}}
{{range .Comments}}//{{.}}
{{end -}}
type {{.MethodName}}Query struct {
	ex      {{$.PackageQualifier}}QueryExecutor
	{{- if .Arg.EmitStruct}}
	arg     {{.Arg.Type}}
	{{- else if .Arg.Pair}}
	{{.Arg.Pair}}
	{{- end}}
	results []{{.Ret.Type}}
}

func (q *{{.MethodName}}Query) SQL() string {
	return {{.ConstantName}}
}

func (q *{{.MethodName}}Query) Args() []any {
	{{- if .Arg.Pair}}
	{{- if .Arg.EmitStruct}}
	{{- $argName := .Arg.Name}}
	return []any{ {{range $i, $f := .Arg.UniqueFields}}{{if $i}}, {{end}}q.{{$argName}}.{{$f.Name}}{{end}} }
	{{- else}}
	return []any{q.{{.Arg.Name}}}
	{{- end}}
	{{- else}}
	return nil
	{{- end}}
}

func (q *{{.MethodName}}Query) ScanRow(row *sql.Rows) error {
	{{- $retName := .Ret.Name}}
	var {{$retName}} {{.Ret.Type}}
	if err := row.Scan({{range $i, $f := .Ret.Struct.Fields}}{{if $i}}, {{end}}&{{$retName}}.{{$f.Name}}{{end}}); err != nil {
		return err
	}
	q.results = append(q.results, {{.Ret.ReturnName}})
	return nil
}

func (q *{{.MethodName}}Query) Results() []{{.Ret.DefineType}} {
	{{- if eq .Ret.Type .Ret.DefineType}}
	return q.results
	{{- else}}
	results := make([]{{.Ret.DefineType}}, len(q.results))
	for i, r := range q.results {
		{{- if .Ret.IsPointer}}
		results[i] = &r
		{{- else}}
		results[i] = r
		{{- end}}
	}
	return results
	{{- end}}
}

{{- if .Arg.Pair}}
func (q *{{.MethodName}}Query) Eval(ctx context.Context, {{.Arg.Pair}}) ([]{{.Ret.DefineType}}, error) {
	{{- if .Arg.EmitStruct}}
	q.arg = {{.Arg.Name}}
	{{- else}}
	q.{{.Arg.Name}} = {{.Arg.Name}}
	{{- end}}
	q.results = nil
	if err := q.ex.Execute(ctx, q); err != nil {
		return nil, err
	}
	return q.Results(), nil
}
{{- else}}
func (q *{{.MethodName}}Query) Eval(ctx context.Context) ([]{{.Ret.DefineType}}, error) {
	q.results = nil
	if err := q.ex.Execute(ctx, q); err != nil {
		return nil, err
	}
	return q.Results(), nil
}
{{- end}}

func New{{.MethodName}}Query(ex {{$.PackageQualifier}}QueryExecutor) *{{.MethodName}}Query {
	return &{{.MethodName}}Query{ex: ex}
}
{{end}}

{{if eq .Cmd ":exec"}}
{{range .Comments}}//{{.}}
{{end -}}
type {{.MethodName}}Query struct {
	ex           {{$.PackageQualifier}}QueryExecutor
	{{- if .Arg.EmitStruct}}
	arg          {{.Arg.Type}}
	{{- else if .Arg.Pair}}
	{{.Arg.Pair}}
	{{- end}}
	rowsAffected int64
}

func (q *{{.MethodName}}Query) SQL() string {
	return {{.ConstantName}}
}

func (q *{{.MethodName}}Query) Args() []any {
	{{- if .Arg.Pair}}
	{{- if .Arg.EmitStruct}}
	{{- $argName := .Arg.Name}}
	return []any{ {{range $i, $f := .Arg.UniqueFields}}{{if $i}}, {{end}}q.{{$argName}}.{{$f.Name}}{{end}} }
	{{- else}}
	return []any{q.{{.Arg.Name}}}
	{{- end}}
	{{- else}}
	return nil
	{{- end}}
}

func (q *{{.MethodName}}Query) SetRowsAffected(n int64) {
	q.rowsAffected = n
}

{{- if .Arg.Pair}}
func (q *{{.MethodName}}Query) Eval(ctx context.Context, {{.Arg.Pair}}) error {
	{{- if .Arg.EmitStruct}}
	q.arg = {{.Arg.Name}}
	{{- else}}
	q.{{.Arg.Name}} = {{.Arg.Name}}
	{{- end}}
	return q.ex.Execute(ctx, q)
}
{{- else}}
func (q *{{.MethodName}}Query) Eval(ctx context.Context) error {
	return q.ex.Execute(ctx, q)
}
{{- end}}

func New{{.MethodName}}Query(ex {{$.PackageQualifier}}QueryExecutor) *{{.MethodName}}Query {
	return &{{.MethodName}}Query{ex: ex}
}
{{end}}

{{if eq .Cmd ":execrows"}}
{{range .Comments}}//{{.}}
{{end -}}
type {{.MethodName}}Query struct {
	ex           {{$.PackageQualifier}}QueryExecutor
	{{- if .Arg.EmitStruct}}
	arg          {{.Arg.Type}}
	{{- else if .Arg.Pair}}
	{{.Arg.Pair}}
	{{- end}}
	rowsAffected int64
}

func (q *{{.MethodName}}Query) SQL() string {
	return {{.ConstantName}}
}

func (q *{{.MethodName}}Query) Args() []any {
	{{- if .Arg.Pair}}
	{{- if .Arg.EmitStruct}}
	{{- $argName := .Arg.Name}}
	return []any{ {{range $i, $f := .Arg.UniqueFields}}{{if $i}}, {{end}}q.{{$argName}}.{{$f.Name}}{{end}} }
	{{- else}}
	return []any{q.{{.Arg.Name}}}
	{{- end}}
	{{- else}}
	return nil
	{{- end}}
}

func (q *{{.MethodName}}Query) SetRowsAffected(n int64) {
	q.rowsAffected = n
}

{{- if .Arg.Pair}}
func (q *{{.MethodName}}Query) Eval(ctx context.Context, {{.Arg.Pair}}) (int64, error) {
	{{- if .Arg.EmitStruct}}
	q.arg = {{.Arg.Name}}
	{{- else}}
	q.{{.Arg.Name}} = {{.Arg.Name}}
	{{- end}}
	if err := q.ex.Execute(ctx, q); err != nil {
		return 0, err
	}
	return q.rowsAffected, nil
}
{{- else}}
func (q *{{.MethodName}}Query) Eval(ctx context.Context) (int64, error) {
	if err := q.ex.Execute(ctx, q); err != nil {
		return 0, err
	}
	return q.rowsAffected, nil
}
{{- end}}

func New{{.MethodName}}Query(ex {{$.PackageQualifier}}QueryExecutor) *{{.MethodName}}Query {
	return &{{.MethodName}}Query{ex: ex}
}
{{end}}

{{if eq .Cmd ":execresult"}}
{{range .Comments}}//{{.}}
{{end -}}
type {{.MethodName}}Query struct {
	ex           {{$.PackageQualifier}}QueryExecutor
	{{- if .Arg.EmitStruct}}
	arg          {{.Arg.Type}}
	{{- else if .Arg.Pair}}
	{{.Arg.Pair}}
	{{- end}}
}

func (q *{{.MethodName}}Query) SQL() string {
	return {{.ConstantName}}
}

func (q *{{.MethodName}}Query) Args() []any {
	{{- if .Arg.Pair}}
	{{- if .Arg.EmitStruct}}
	{{- $argName := .Arg.Name}}
	return []any{ {{range $i, $f := .Arg.UniqueFields}}{{if $i}}, {{end}}q.{{$argName}}.{{$f.Name}}{{end}} }
	{{- else}}
	return []any{q.{{.Arg.Name}}}
	{{- end}}
	{{- else}}
	return nil
	{{- end}}
}

func New{{.MethodName}}Query(ex {{$.PackageQualifier}}QueryExecutor) *{{.MethodName}}Query {
	return &{{.MethodName}}Query{ex: ex}
}
{{end}}

{{if eq .Cmd ":execlastid"}}
{{range .Comments}}//{{.}}
{{end -}}
type {{.MethodName}}Query struct {
	ex           {{$.PackageQualifier}}QueryExecutor
	{{- if .Arg.EmitStruct}}
	arg          {{.Arg.Type}}
	{{- else if .Arg.Pair}}
	{{.Arg.Pair}}
	{{- end}}
	lastID       int64
	rowsAffected int64
}

func (q *{{.MethodName}}Query) SQL() string {
	return {{.ConstantName}}
}

func (q *{{.MethodName}}Query) Args() []any {
	{{- if .Arg.Pair}}
	{{- if .Arg.EmitStruct}}
	{{- $argName := .Arg.Name}}
	return []any{ {{range $i, $f := .Arg.UniqueFields}}{{if $i}}, {{end}}q.{{$argName}}.{{$f.Name}}{{end}} }
	{{- else}}
	return []any{q.{{.Arg.Name}}}
	{{- end}}
	{{- else}}
	return nil
	{{- end}}
}

func (q *{{.MethodName}}Query) SetLastInsertID(n int64) {
	q.lastID = n
}

func (q *{{.MethodName}}Query) SetRowsAffected(n int64) {
	q.rowsAffected = n
}

{{- if .Arg.Pair}}
func (q *{{.MethodName}}Query) Eval(ctx context.Context, {{.Arg.Pair}}) (int64, error) {
	{{- if .Arg.EmitStruct}}
	q.arg = {{.Arg.Name}}
	{{- else}}
	q.{{.Arg.Name}} = {{.Arg.Name}}
	{{- end}}
	if err := q.ex.Execute(ctx, q); err != nil {
		return 0, err
	}
	return q.lastID, nil
}
{{- else}}
func (q *{{.MethodName}}Query) Eval(ctx context.Context) (int64, error) {
	if err := q.ex.Execute(ctx, q); err != nil {
		return 0, err
	}
	return q.lastID, nil
}
{{- end}}

func New{{.MethodName}}Query(ex {{$.PackageQualifier}}QueryExecutor) *{{.MethodName}}Query {
	return &{{.MethodName}}Query{ex: ex}
}
{{end}}


{{end}}
{{end}}
{{end}}
