{{define "queryCodePgx"}}
{{range .GoQueries}}
{{if $.OutputQuery .SourceName}}
{{if and (ne .Cmd ":copyfrom") (ne (hasPrefix .Cmd ":batch") true)}}
const {{.ConstantName}} = {{$.Q}}-- name: {{.MethodName}} {{.Cmd}}
{{escape .SQL}}
{{$.Q}}
{{end}}

{{if ne (hasPrefix .Cmd ":batch") true}}
{{if and .Arg.EmitStruct (ne .Cmd ":copyfrom")}}
type {{.Arg.Type}} struct { {{- range .Arg.Struct.Fields}}
  {{.Name}} {{.Type}} {{if .Tag}}{{$.Q}}{{.Tag}}{{$.Q}}{{end}}
  {{- end}}
}
{{end}}

{{if .Ret.EmitStruct}}
type {{.Ret.Type}} struct { {{- range .Ret.Struct.Fields}}
  {{.Name}} {{.Type}} {{if .Tag}}{{$.Q}}{{.Tag}}{{$.Q}}{{end}}
  {{- end}}
}
{{end}}
{{end}}

{{if eq .Cmd ":one"}}
{{range .Comments}}//{{.}}
{{end -}}
func {{.MethodName}}({{.Arg.Pair}}) {{$.PackageQualifier}}Query[{{.Ret.DefineType}}] {
	return {{$.PackageQualifier}}NewStatement({{.ConstantName}}{{template "queryArgsPgx" .}}).One({{if .ScannerName}}{{.ScannerName}}{{else}}{{$.PackageQualifier}}ScanValue[{{.Ret.DefineType}}]{{end}})
}
{{end}}

{{if eq .Cmd ":many"}}
{{range .Comments}}//{{.}}
{{end -}}
func {{.MethodName}}({{.Arg.Pair}}) {{$.PackageQualifier}}Query[[]{{.Ret.DefineType}}] {
	return {{$.PackageQualifier}}NewStatement({{.ConstantName}}{{template "queryArgsPgx" .}}).Many({{if .ScannerName}}{{.ScannerName}}{{else}}{{$.PackageQualifier}}ScanValue[{{.Ret.DefineType}}]{{end}})
}
{{end}}

{{if or (eq .Cmd ":exec") (eq .Cmd ":execrows")}}
{{range .Comments}}//{{.}}
{{end -}}
func {{.MethodName}}({{.Arg.Pair}}) {{$.PackageQualifier}}Query[int64] {
	return {{$.PackageQualifier}}NewStatement({{.ConstantName}}{{template "queryArgsPgx" .}}).Exec()
}
{{end}}

{{if eq .Cmd ":execresult"}}
{{range .Comments}}//{{.}}
{{end -}}
func {{.MethodName}}({{.Arg.Pair}}) {{$.PackageQualifier}}Query[pgconn.CommandTag] {
	return {{$.PackageQualifier}}NewStatement({{.ConstantName}}{{template "queryArgsPgx" .}}).ExecResult()
}
{{end}}

{{end}}
{{end}}

{{range .Scanners}}
{{if $.OutputQuery .SourceName}}
func {{.Name}}(row pgx.Row) ({{.Ret.DefineType}}, error) {
	var {{.Ret.Name}} {{.Ret.Type}}
	err := row.Scan({{.Ret.Scan}})
	return {{.Ret.ReturnName}}, err
}
{{end}}
{{end}}
{{end}}

{{define "queryArgsPgx" -}}
{{- if .Arg.EmitStruct}}
{{- $argName := .Arg.Name}}
{{- range .Arg.Struct.Fields}}, {{$argName}}.{{.Name}}{{end}}
{{- else}}
{{- range .Arg.Pairs}}, {{.Name}}{{end}}
{{- end}}
{{- end}}
